[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
